@charset "UTF-8";

/* media-query */

/* Telas Tablet */

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Menu  */
  #menuburger {
    display: none;
  }
  #itens {
    display: block;
  }
  menu > nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 3px;
  }
  nav > a {
    font-size: 1.2rem;
  }

  nav > a:hover {
    text-decoration: underline;
  }

  /* Area Login */

  .login {
    justify-content: flex-end;
  }

  #iclog {
    font-size: 1.5rem;
  }

  #iclog:hover {
    text-decoration: underline;
    color: var(--cor2);
    transition: all 0.3s ease-in-out;
  }

  #iccart {
    font-size: 1.5rem;
    margin-right: 3%;
  }

  #iccart:hover {
    text-decoration: underline;
    color: var(--cor2);
    transition: all 0.3s ease-in-out;
  }

  .container {
    display: grid;
    grid-template-columns: 41vh 42vh;
    grid-template-rows: 60vw 60vw 60vw 60vw 60vw 60vw 60vw 60vw;
    grid-template-areas:
      "item-1 item-2"
      "item-3 item-4"
      "item-5 item-6"
      "item-7 item-8"
      "item-9 item-10"
      "item-11 item-12"
      "item-13 item-14"
      "item-15 item-16";
    grid-gap: 10px;

    padding: 15px;
  }
}
/* Telas Notebook */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* Menu  */
  #menuburger {
    display: none;
  }
  #itens {
    display: block;
  }
  menu > nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 1px;
  }
  nav > a {
    font-size: 1.2rem;
  }

  nav > a:hover {
    text-decoration: underline;
  }

  /* Area Login */

  header {
    padding: 3%;
  }

  .login {
    justify-content: flex-end;
    max-height: 4%;
  }

  #iclog {
    font-size: 1.5rem;
  }

  #iclog:hover {
    text-decoration: underline;
    color: var(--cor2);
    transition: all 0.3s ease-in-out;
  }

  #iccart {
    font-size: 1.5rem;
    margin-right: 3%;
  }

  #iccart:hover {
    text-decoration: underline;
    color: var(--cor2);
    transition: all 0.3s ease-in-out;
  }

  .container {
    display: grid;
    grid-template-columns: 36vh 36vh 36vh;
    grid-template-rows: 40vw 40vw 40vw 40vw 40vw 40vw;
    grid-template-areas:
      "item-1 item-2 item-3"
      "item-4 item-5 item-6"
      "item-7 item-8 item-9"
      "item-10 item-11 item-12"
      "item-13 item-14 item-15"
      "item-16";

    grid-gap: 15px;

    padding: 15px;
  }
  /* itens */
  #item-1 {
    grid-column: 1 / 1;
  }

  #item-2 {
    grid-column: 2 / 2;
  }

  #item-3 {
    grid-column: 3 / 3;
  }
  #item-4 {
    grid-column: 1 / 1;
  }
  #item-5 {
    grid-column: 2 / 2;
  }
  #item-6 {
    grid-column: 3 / 3;
  }
  #item-7 {
    grid-column: 1 / 1;
  }
  #item-8 {
    grid-column: 2 / 2;
  }
  #item-9 {
    grid-column: 3 / 3;
  }

  #item-10 {
    grid-column: 1 / 1;
  }

  #item-11 {
    grid-column: 2 / 2;
  }

  #item-12 {
    grid-column: 3 / 3;
  }
  #item-13 {
    grid-column: 1 / 1;
  }
  #item-14 {
    grid-column: 2 / 2;
  }
  #item-15 {
    grid-column: 3 / 3;
  }
  #item-16 {
    grid-column: 1 / 1;
  }

  #inome {
    width: 40vw;
  }

  #iemail {
    width: 40vw;
  }
  #itelefone {
    width: 40vw;
  }
}

/* Grande Tela Notebook */
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  /* Menu  */
  #menuburger {
    display: none;
  }
  #itens {
    display: block;
  }
  menu > nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 0px;
  }

  nav > a {
    font-size: 1.2rem;
    margin: 0.5%;
  }

  nav > a:hover {
    text-decoration: underline;
  }

  /* Area Login */

  header {
    padding: 2%;
  }

  .login {
    justify-content: flex-end;
    max-height: 5%;

    /* border: 3px solid pink; */
  }

  #iclog {
    font-size: 1.5rem;
  }

  #iclog:hover {
    text-decoration: underline;
    color: var(--cor2);
    transition: all 0.3s ease-in-out;
  }

  #iccart {
    font-size: 1.5rem;
    margin-right: 3%;
  }

  #iccart:hover {
    text-decoration: underline;
    color: var(--cor2);
    transition: all 0.3s ease-in-out;
  }

  .container {
    max-width: 77%;
    margin: auto;
    display: grid;
    grid-template-columns: 30vh 30vh 30vh 30vh;
    grid-template-rows: 20vw 20vw 20vw 20vw;
    grid-template-areas:
      "item-1 item-2 item-3"
      "item-4 item-5 item-6"
      "item-7 item-8 item-9"
      "item-10 item-11 item-12"
      "item-13 item-14 item-15"
      "item-16";

    grid-gap: 15px;

    padding: 15px;
  }
  /* itens */
  #item-1 {
    grid-column: 1 / 1;
  }

  #item-2 {
    grid-column: 2 / 2;
  }

  #item-3 {
    grid-column: 3 / 3;
  }
  #item-4 {
    grid-column: 4 / 4;
  }
  #item-5 {
    grid-column: 1 / 1;
  }
  #item-6 {
    grid-column: 2 / 2;
  }
  #item-7 {
    grid-column: 3 / 3;
  }
  #item-8 {
    grid-column: 4 / 4;
  }
  #item-9 {
    grid-column: 1 / 1;
  }

  #item-10 {
    grid-column: 2 / 2;
  }

  #item-11 {
    grid-column: 3 / 3;
  }

  #item-12 {
    grid-column: 4 / 4;
  }
  #item-13 {
    grid-column: 1 / 1;
  }
  #item-14 {
    grid-column: 2 / 2;
  }
  #item-15 {
    grid-column: 3 / 3;
  }
  #item-16 {
    grid-column: 4 / 4;
  }

  #inome {
    width: 30vw;
  }

  #iemail {
    width: 30vw;
  }
  #itelefone {
    width: 30vw;
  }
}

/* Telas Grande PC*/
@media screen and (min-width: 1900px) {
  /* Menu  */
  #menuburger {
    display: none;
  }
  #itens {
    display: block;
  }
  menu > nav {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  nav > a {
    font-size: 1.2rem;
    margin: 0.5%;
  }

  /* Area Login */

  header {
    padding: 2%;
  }

  .login {
    justify-content: flex-end;
    max-height: 3%;
    padding-bottom: 0.5%;

    /* border: 3px solid pink; */
  }

  .login > span {
    display: flex;
    align-items: center;
    margin: .5%;
  }

  #iclog {
    font-size: 1.5rem;
  }

  #iclog:hover {
    text-decoration: underline;
    color: var(--cor2);
    transition: all 0.3s ease-in-out;
  }

  #iccart {
    font-size: 1.5rem;
    margin-right: 3%;
  }

  #iccart:hover {
    text-decoration: underline;
    color: var(--cor2);
    transition: all 0.3s ease-in-out;
  }

  /* Container */
  .container {
    max-width: 62%;
    margin: auto;
    display: grid;
    grid-template-columns: 30vh 30vh 30vh 30vh;
    grid-template-rows: 20vw 20vw 20vw 20vw;
    grid-template-areas:
      "item-1 item-2 item-3"
      "item-4 item-5 item-6"
      "item-7 item-8 item-9"
      "item-10 item-11 item-12"
      "item-13 item-14 item-15"
      "item-16";

    grid-gap: 15px;

    padding: 15px;
  }

  #item-1 {
    grid-column: 1 / 1;
  }

  #item-2 {
    grid-column: 2 / 2;
  }

  #item-3 {
    grid-column: 3 / 3;
  }
  #item-4 {
    grid-column: 4 / 4;
  }
  #item-5 {
    grid-column: 1 / 1;
  }
  #item-6 {
    grid-column: 2 / 2;
  }
  #item-7 {
    grid-column: 3 / 3;
  }
  #item-8 {
    grid-column: 4 / 4;
  }
  #item-9 {
    grid-column: 1 / 1;
  }

  #item-10 {
    grid-column: 2 / 2;
  }

  #item-11 {
    grid-column: 3 / 3;
  }

  #item-12 {
    grid-column: 4 / 4;
  }
  #item-13 {
    grid-column: 1 / 1;
  }
  #item-14 {
    grid-column: 2 / 2;
  }
  #item-15 {
    grid-column: 3 / 3;
  }
  #item-16 {
    grid-column: 4 / 4;
  }

  #inome {
    width: 20vw;
  }

  #iemail {
    width: 20vw;
  }
  #itelefone {
    width: 20vw;
  }
}
