@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --cor0: #0d0d0d;
  --cor1: #f2f2f2;
  --cor2: #d97904;
  --cor3: #3c3e40;
  --cor4: #6e7073;
}

html,
body {
  height: 100vh;
  width: 99vw;
  background-color: black;
}

header {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  text-align: center;

  background-color: white;
  box-shadow: 1px 3px 3px var(--cor0);
  padding-bottom: 20px;
}

nav {
  text-align: center;
  padding: 10px;
  background-color: black;
  text-shadow: 1px 1px 1px black;
}

nav > a {
  text-decoration: none;
  color: white;
  margin: 1.2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
nav > a:hover {
  text-decoration: underline;
}
/* MAIN */

main {
  position: relative;
  background-color: white;
}

body {
  height: 100%;
  background-color: var(--cor1);
}
.container {
  display: grid;
  grid-template-columns: 20vh 20vh;
  grid-template-rows: 60vw 60vw 60vw 60vw 60vw 60vw 60vw 60vw ;
  grid-template-areas:
    "item-1 item-2"
    "item-3 item-4"
    "item-5 item-6"
    "item-7 item-8"
    "item-9 item-10"
    "item-11 item-12"
    "item-13 item-14"
    "item-15 item-16"
    "item-17 item-18";
  grid-gap: 40px;
  padding: 20px;
}
.container .peca {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90%;
  width: 100%;
  text-align: center;
}

.container .preco {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10%;
  width: 100%;
  text-align: center;
}

.peca {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.preco {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.container div {
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.014);
  /* border: 1px solid red; */
}
.container div:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.062);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* itens */
#item-1 {
  background-image: url(https://tr.rbxcdn.com/180DAY-8f2164a0c816a65707798b23d3268848/420/420/LayeredAccessory/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 1 / 1;
}

#item-2 {
  background-image: url(https://tr.rbxcdn.com/180DAY-7d1d50427ed04a0a9f4a06032232ea16/420/420/Shirt/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 2 / 2;
}

#item-3 {
  background-image: url(https://tr.rbxcdn.com/180DAY-9550b792c8dbd6ced26e30e8eee94f77/420/420/LayeredAccessory/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 2 / 1;
}
#item-4 {
  background-image: url(https://tr.rbxcdn.com/180DAY-83b043847672a1573795c227c6ec9f44/420/420/LayeredAccessory/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 2 / 2;
}
#item-5 {
  background-image: url(https://tr.rbxcdn.com/180DAY-cebcd8dcb874b7a376a2d01f07d95c25/420/420/LayeredAccessory/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 1 / 2;
}
#item-6 {
  background-image: url(https://tr.rbxcdn.com/180DAY-261678c3b72862c59da48c7952c4cb0e/420/420/LayeredAccessory/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 2 / 2;
}
#item-7 {
  background-image: url(https://tr.rbxcdn.com/180DAY-a688f44d96835940e44f0e9329803dbe/420/420/Shirt/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 1 / 2;
}
#item-8 {
  background-image: url(https://tr.rbxcdn.com/180DAY-7f0e9ec2108b0ed0715233f3ed55225a/420/420/Shirt/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 2 / 2;
}
#item-9 {
  background-image: url(https://tr.rbxcdn.com/180DAY-177a54fefec2e3d8e39a1ce6642d708d/420/420/Shirt/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 1 / 1;
}

#item-10 {
  background-image: url(https://tr.rbxcdn.com/180DAY-200322343b6f00a416f3fc395420ec12/420/420/Pants/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 2 / 2;
}
#item-11 {
  background-image: url(https://tr.rbxcdn.com/180DAY-f653b5d21b75d5b62797f6f5e9c595f8/420/420/Pants/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 1 / 1;
}

#item-12 {
  background-image: url(https://tr.rbxcdn.com/180DAY-1961425f39a0b642cac90234cfa3cce8/420/420/Shirt/Webp/noFilter);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  grid-column: 2 / 2;
}
  #item-13 {
      background-image: url(https://tr.rbxcdn.com/180DAY-ea8eee439f37c5bedfdbae015d2eab5a/420/420/LayeredAccessory/Webp/noFilter);
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      grid-column: 1 / 1;
  }
  #item-14 {
      background-image: url(https://tr.rbxcdn.com/180DAY-8e465768107d6369c6169ec6e11391fa/420/420/Pants/Webp/noFilter);
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      grid-column: 2 / 2;
  }
  #item-15 {
      background-image: url(https://tr.rbxcdn.com/180DAY-71dd30f6228877a418557fa429f97434/420/420/Pants/Webp/noFilter);
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      grid-column: 1 / 1;
  }
  #item-16 {
      background-image: url(https://tr.rbxcdn.com/180DAY-aaca42c2abdc401ddf935f7c201dd07d/420/420/Pants/Webp/noFilter);
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      grid-column: 2 / 2;
  }

section p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  padding: 15px;
  text-align: center;
}
/* FOOTER */

footer {
  background-color: #0d0d0d;
  padding: 10px;
}
footer > p {
  font-family: "Notable", sans-serif;
  color: white;
  text-align: center;
}
